#cm_contextual_menu .dropdown-menu a.ics {
    background: url(../images/calendar.png) no-repeat 1px 50%;
    padding: 2px 0px 3px 20px;
    background-size: 13px;
}
#sidebar ul.watchers {
    margin-right: 10px;
}
#sidebar ul.attendees li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
ul.watchers li span.meeting-status {
    float: right;
    clear: right;
}
.icon-meeting-accepted {
    background-image: url(../images/tick.png);
    background-size: 12px;
}
.icon-meeting-tentative {
    background-image: url(../images/tick.png);
    background-size: 12px;
    opacity: 0.4;
}
.icon-meeting-declined {
    background-image: url(../images/close.png);
    background-size: 12px;
}
.icon-edit-occurrence {
    background-image: url(../images/edit_occurrence.png);
}
.icon-del-occurrence {
    background-image: url(../images/delete_occurrence.png);
}
tr.issue td.recurrence {
    white-space: normal;
    text-align: left;
}
tr.meeting-exception td.date {
    text-align: left;
}
tr.meeting-exception.deleted td.date {
    text-decoration: line-through;
    color: #999;
}
table.cal td > div.issue:not(.starting):not(.ending) a.issue, p.cal.legend .occurrence {
    background: url(../images/bullet_occurrence.png) no-repeat -1px -2px;
    padding-left: 16px;
}
